<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Alibazon</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a href="/" class="navbar-brand" style="padding-right: 5%">ALIBAZON</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="myNavbar">
                <div class="navbar-nav">
                    <a href="/category/womens"
                        class="nav-item nav-link <%= (isWomenCategoryEnabled) ? 'active' : '' %>">WOMEN</a>
                    <a href="/category/mens"
                        class="nav-item nav-link <%= (!isWomenCategoryEnabled && isWomenCategoryEnabled!=null) ? 'active' : '' %>">MEN</a>
                </div>
                <form class="form-inline" method="get" action="/product/search" id="search-form">
                    <div class="input-group">
                        <input type="text" name="keyword" id="keyword" class="form-control" placeholder="Search">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
                <div class="navbar-nav">
                    <% if(typeof isSignedIn !=='undefined' && isSignedIn!=false){ %>
                        <a href="/user/profile" class="fa-solid fa-user fa-xl nav-item nav-link mt-2"></a>
                        <a href="/auth/signout" class="nav-item nav-link">Sign Out</a>
                        <% }else{ %>
                            <a href="/auth/signin" class="nav-item nav-link">
                                Sign In</a>
                            <% } %>
                </div>
            </div>
        </nav>
    </header>
    <script>
        $('#search-form').on('submit', function (e) {
            var query = document.getElementById('keyword');
            var url = `/product/search?${query}`;
            this.attr('action', url);
        });
    </script>